<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1>Editing Book</h1>
<!-- url:とmethod:を加えることで無理やり指定するmethodは不要かも -->
<%= form_for(@book, url: {action: "update"}, method: :patch) do |f| %>
  <!-- バリデーションエラーを表示させる -->
  <% if @book.errors.any? %>
    <p>入力した内容にエラーが<%= @book.errors.count %>件あります</p>
    <ul>
      <% @book.errors.full_messages.each do |book_error| %>
        <li><%= book_error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title, "title" %>
  <%=  f.text_field :title, class:"book_title" %>

  <%= f.label :body, "Body" %>
  <%= f.text_area :body, class:"book_body" %>

  <%= f.submit 'Update Book' %>

<% end %>

<%= link_to 'Show', show_path(@book.id), class:"show_#{@book.id}" %>
|
<a href="/books" class="back">Back</a>
