<h1>Books</h1>
<table>
  <tr>
    <th>Title</th><th>Body</th>
  </tr>
  <!-- @booksが空だとエラーが表示されるためif -->
  <% if @books %>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td><td><%= book.body %></td>
      <td>
        <%= link_to 'Show', show_path(book.id) %>
        <%= link_to 'Edit', edit_path(book.id) %>
        <%= link_to 'Destroy', destroy_path(book.id), method: :'delete' %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>


<h1>New book</h1>
<%= form_for(@book, url: {action: "create"}, method: :post) do |f| %>
  <!-- バリデーションエラーを表示させる -->
  <% if @book.errors.any? %>
    <p>入力した内容にエラーが<%= @book.errors.count %>件あります</p>
    <ul>
      <% @book.errors.full_messages.each do |book_error| %>
        <li><%= book_error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title, "title" %>
  <%= f.text_field :title %>

  <%= f.label :body, "Body" %>
  <%= f.text_area :body, class: "book_body" %>

  <%= f.submit 'Create Book' %>

<% end %>
